<configuration>
    <!-- 在resources目录下添加这个文件即可，添加log_path属性，文件保存路径 -->
    <variable resource="logback-file.properties"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 1GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 指定包日志级别 -->
    <logger name="cn.y.java.logback.info_package" level="WARN"/>
    <!-- 指定包日志级别并指定输出到文件 -->
    <logger name="cn.y.java.logback.file_package" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 默认日志级别 -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>